<div>
  <h1>Verificar código</h1>
</div>
<div>
  <form>
    <div>
      <input [(ngModel)]="digit1" name="digit1" (paste)="onPaste($event)" (keyup)="onDigitInput($event)" type="tel">
      <input [(ngModel)]="digit2" name="digit2" (paste)="onPaste($event)" (keyup)="onDigitInput($event)" type="tel">
      <input [(ngModel)]="digit3" name="digit3" (paste)="onPaste($event)" (keyup)="onDigitInput($event)" type="tel">
      <input [(ngModel)]="digit4" name="digit4" (paste)="onPaste($event)" (keyup)="onDigitInput($event)" type="tel">
      <input [(ngModel)]="digit5" name="digit5" (paste)="onPaste($event)" (keyup)="onDigitInput($event)" type="tel">
      <input [(ngModel)]="digit6" name="digit6" (paste)="onPaste($event)" (keyup)="onDigitInput($event)" type="tel">
    </div>
  </form>
</div>

<router-outlet></router-outlet>